<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS語法練習</title>
  </head>
  <body>
    <% for (let i = 0; i<3; i++){ %>
    <h1><%= i %></h1>
    <% } %> <% for (let i = 0; i<3; i++){ %> <%- myString %> <%#
    這個是EJS的註釋標籤 %> <% } %> <%- include("partials/some") %>
  </body>
</html>
