<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <form action="/getform" method="GET">
      <label for="name">請輸入您的姓名:</label>
      <input type="text" name="name" id="name" />
      <label for="age">請輸入您的年齡:</label>
      <input type="number" name="age" id="age" />
      <button>交出表單</button>
    </form>
  </body>
</html>
