<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用EJS做表單回應</title>
  </head>
  <body>
    <h2>我們的伺服器已收到您的表單了</h2>
    <h2>您的名字是:<%= name %>，您的年齡是:<%= age %></h2>
  </body>
</html>
